<div class="container">
  <div class="text-center">
    <div id="footer">Eau Clair's Salon Admin || Eau Clair's Salon Admin || Eau Clair's Salon Admin || Eau Clair's Salon Admin || Eau Clair's Salon Admin || Eau Clair's Salon Admin</div>
  </div>
</div>
