@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client</h4>

@using (Html.BeginForm())
{
  <p>Client Name: @Html.TextBoxFor(model => model.ClientName)</p>
  <p>Client Notes: @Html.TextBoxFor(model => model.ClientNotes)</p>
  <p>Select your sylist: @Html.DropDownList("StylistId")</p>
  

  <input type="submit" value="Add New Client Here" class="btn" style="color: white"/>
}
<p>@Html.ActionLink("Show all clients", "Index")</p>